html, body{
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Microsoft YaHei';
    opacity: 0;
    transition: opacity 1s;
}

.header{
    min-width: 1600px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 5px 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    position: relative;
    z-index: 99;
	text-align:center;
}

.header img{
    height: 86px;
    width: auto;
    vertical-align: middle;
}


.content{
    background: linear-gradient(to bottom, #69a1e6, #215b9e);
    height: calc(100vh - 96px - 280px);
    text-align: center;
    min-height: 535px;
    position: relative;
    min-width: 1600px;
}

.content .main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
    width: 100%;
}

.content img{
    height: 280px;
    width: 350px;
    vertical-align: middle;
}

.content .txxx{
    color: #fff;
    font-size: 40px;
    letter-spacing:4px;
    margin-top: 15px;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.content .fxtx{
    line-height: 55px;
    font-size: 30px;
    margin-top: 25px;
    display: inline-block;
    letter-spacing: 5px;
    background: rgba(255, 255, 255,.5);
    padding: 12px 40px;
    border-radius: 12px;
}

.content .fxtx span{
    color: #f00;
    font-size: 42px;
}

.content .phone{
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
}
.content .phone2{
  font-size: 24px;
  margin: 10px 0 0 15px;
  color: #fff;
}
.content .line{
    margin: 0 auto;
    width: 1000px;
    margin-top: 25px;
    height: 2px;
    background: linear-gradient(to right, rgba(255,255,255,.1),rgba(255,255,255,1), rgba(255,255,255,.1));
}

.footer{
    min-width: 1600px;
    font-size: 20px;
    height: 270px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 10px;
}

.footer .ewm{
    width: 120px;
    height: 120px;
    margin: 10px 20px 0;
    padding-bottom: 20px;
}

.footer .gzh, .footer .app-ewm{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.footer .gzh{
    margin-left: 30px;
}

.footer .gzh:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    top: 37px;
    left: -20px;
    background: rgba(0, 0, 0,.4);
}

.footer .register{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0,.4);
    line-height: 20px;
    color: rgba(0,0,0,.7);
}

.footer .inline-block{
    display: inline-block;
    position: relative;
}

.footer .ts {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer a{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.footer a:hover{
    color: #0079ff;
}

/* @media only screen and (max-width: 340px) {

  .header{
    width: 300px;
    margin: 0 auto;
    padding: 5px 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    position: relative;
    z-index: 99;
	  text-align:center;
}

.header img{
    height: 86px;
    width: auto;
    vertical-align: middle;
}


.content{
    background: linear-gradient(to bottom, #69a1e6, #215b9e);
    height: calc(100vh - 96px - 280px);
    text-align: center;
    min-height: 535px;
    position: relative;
    float: left;
    width: 100%;
}

.content .main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
    width: 100%;
}

.content img{
    height: 280px;
    width: 350px;
    vertical-align: middle;
}

.content .txxx{
    color: #fff;
    font-size: 40px;
    letter-spacing:4px;
    margin-top: 15px;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.content .fxtx{
    line-height: 55px;
    font-size: 30px;
    margin-top: 25px;
    display: inline-block;
    letter-spacing: 5px;
    background: rgba(255, 255, 255,.5);
    padding: 12px 40px;
    border-radius: 12px;
}

.content .fxtx span{
    color: #f00;
    font-size: 42px;
}

.content .phone{
    font-size: 24px;
    margin-top: 10px;
    color: #fff;
}

.content .line{
    margin: 0 auto;
    width: 500px;
    margin-top: 25px;
    height: 2px;
    background: linear-gradient(to right, rgba(255,255,255,.1),rgba(255,255,255,1), rgba(255,255,255,.1));
}

.footer{
    min-width: 500px;
    font-size: 20px;
    height: 270px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 10px;
}

.footer .ewm{
    width: 120px;
    height: 120px;
    margin: 10px 20px 0;
    padding-bottom: 20px;
}

.footer .gzh, .footer .app-ewm{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.footer .gzh{
    margin-left: 30px;
}

.footer .gzh:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    top: 37px;
    left: -20px;
    background: rgba(0, 0, 0,.4);
}

.footer .register{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0,.4);
    line-height: 20px;
    color: rgba(0,0,0,.7);
}

.footer .inline-block{
    display: inline-block;
    position: relative;
}

.footer .ts {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer a{
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.footer a:hover{
    color: #0079ff;
}
  
} */
